[2018-04-27 03:50] ksiddana opened #1 "cannot read zip_data file from script folder"
Downloaded the zip data from https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html, used the python file in the script on the file, got the following error:
[code]

[2018-04-27 03:52] ksiddana commented on #1
Downloaded the zip data from https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html, used the python file in the script on the file, got the following error:
[code]

[2018-05-11 01:39] matthewnorman commented on #1
So usually this implies that the file was put in incorrectly. Can you tell me what the command line code was?

[2018-06-15 00:29] michelecoleman opened #2 "Need method to convert xls -> csv"
The data we get from the City of San Jose's website is in xls (Excel) format. Our tool requires the data to be in csv format. We would like to have a tool to take a set of xls files (for example, all files in a directory) and to produce for each one a csv file. Maybe it's a simple as a 1-line pipeline that can be run in a bash shell, or maybe a python script is needed.

A couple possible resources

[2018-07-13 02:56] michelecoleman opened #4 "Create data dictionary"
In the campaign finance data files there are a lot of columns whose meaning is opaque. A data dictionary that explains the interpretation of the columns would be useful.

[2018-07-13 03:00] michelecoleman opened #5 "Need better documentation about the purpose and aims of the project"
There is better information about what the purpose of the project is at the old repository. This could be ported over from that repo to this one.

[2018-09-15 00:57] #5 closed

[2018-10-03 01:45] JMStudiosJoe opened #6 "Plan for frontend?"
Are there plans for moving to more modern web app architecture?

[2018-10-04 18:33] ychoy commented on #6
From our last discussion at civic hack night with @psithara  and @lilannie, it seems like we want to build the frontend with React.

The app as a whole: Node,JS Express, React

Data parsing (which libraries did you want to use @psithara)

Based on what we discussed, I've written up some user stories. I'm open to your ideas and feedback:

1. When the user visits the website, they should see a Welco

[2018-10-05 05:33] JMStudiosJoe commented on #6
@ychoy yes this all sounds good to me, should we get a google sheet going with a list of user stories then GitHub issues? Sounds like this project could also use its own drive folder?

[2018-10-05 05:54] lilannie commented on #6
I love the user stories! Great job ☺️
I plan to put a bunch of the frontend together this weekend.

I'm no CSS wiz, but I can whip together an un-styled E.R.N. (Express React Node) website real quick.

[2018-10-05 06:28] ychoy commented on #6
@JMStudiosJoe I shared with you the draft Google doc project roadmap via your
email. I think each user story could be broken up into separate issues.

[2018-10-05 06:29] ychoy commented on #6
Awesome, @lilannie!

[2018-10-05 16:11] JMStudiosJoe commented on #6
@lilannie sounds good on starting the front end do you plan on using create-react-app? I can help with the css part and can also integrate the small project for looking up by address. @ychoy yes got the document thanks :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 22:33] dphale commented on #6
@ychoy I like the stories. How does CFSJ typically make prospective users aware that apps/content are available? E.g. plugin or link to Merc? Link in https://votersedge.org/ca? If someone can send me a link to screenshots here or on slack I can get user feedback.

[2018-10-05 22:39] dphale commented on #6
@lilannie @JMStudiosJoe @ychoy here is the link to embed votersedge - https://votersedge.org/ca/page/resources#engage-voters.  I like their UI - very simple

[2018-10-06 06:36] lilannie commented on #6
@JMStudiosJoe
I have only minimally played around with `create-react-app`.

I plan on using Webpack to build the JS and SASS.
I can serve the Webpack bundle using Node.JS for dev purposes.

I'm assuming we want to insert the Webpack bundle in the `public/index.html` file when we deploy.

[2018-10-06 23:04] JMStudiosJoe commented on #6
@lilannie do we need SASS? I have gotten pretty good with just CSS and React makes it nice and easy. `create-react-app` does all that for you besides the SASS and gets a good starting point for not only project structure but tests are easy to add from there as well. Up to you though :)

[2018-10-06 23:26] lilannie commented on #6
@JMStudiosJoe SASS is just a nice to have. Not super necessary. Same thing as CSS with some added bonuses like variables.

You can add normal CSS to SASS files and it'll work the same.

I just finished the boilerplate: https://github.com/codeforsanjose/OpenDSJ-2018/pull/7

Gonna continue working on it today.

[2018-10-07 18:39] JMStudiosJoe opened #8 "Content API vs Redux"
@lilannie  @ychoy  I have been doing a lot more Context API than redux and it definitely has a lighter learning curve. Should we continue with Redux or move to Context API? We do have time to discuss this since neither is quite needed yet.

[2018-10-07 20:06] lilannie commented on #8
@JMStudiosJoe

Are you talking about [React's Context API?](https://reactjs.org/docs/context.html#when-to-use-context)?

I've used `React's Context API` but never as a substitute for `Redux`.

[2018-10-08 16:02] JMStudiosJoe commented on #8
Yes I am talking about that API. Interesting I have not needed both either one or the other before but why both? I have found redux to be just too much but that is from my experience whereas context api has been much more manageable and easier to understand.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 01:54] lilannie commented on #8
I’d prefer Redux because:
1. it’s more established
2. already has a bunch of dev tools
3. is much more common knowledge throughout React devs bc it’s an older
library

I do agree Redux can be a lot. However, I don’t think redux-act-async
reducers a huge chunk of boilerplate.

I would be okay with using the new React Context API, but I’m hesitant for
the reasons above.

About having not used Contex

[2018-10-09 02:30] JMStudiosJoe commented on #8
All good points. We can stick with Redux for now since it is more established and already in place. I'd say give Context a try sometime for practice since when I went to Context did not feel the need for all of Redux :). Yes it was experimental before but now it is a full API and recommended over Redux but you are right not as established, well known, or as many tools.

[2018-10-09 02:31] JMStudiosJoe commented on #8
@lilannie @ychoy think we can close this issue now

[2018-10-09 02:31] #8 closed

[2018-10-09 02:35] JMStudiosJoe commented on #6
@ychoy @lilannie @dphale think we can close this issue as well. Plan for frontend is React with SASS with NodeJS express backend. We also have user stories to start developing.

[2018-10-09 05:49] lilannie commented on #6
Number 3 in the list of user stories is partially done.

We just need to add instructions to the DetailViewContainer when nothing is selected.

[2018-10-09 05:59] lilannie opened #10 "Create View Race"
Create a React component to view a particular election.
Stub out the backend call in Redux.

This follows the user story number 5 from https://github.com/codeforsanjose/OpenDSJ-2018/issues/6

[2018-10-09 06:00] lilannie opened #11 "Create a Welcome Page"
Based on user story number 1 listed in: https://github.com/codeforsanjose/OpenDSJ-2018/issues/6

[2018-10-09 06:01] lilannie opened #12 "Create an instructions landing view"
This is part of user story number 3 listed in: https://github.com/codeforsanjose/OpenDSJ-2018/issues/6

[2018-10-09 06:04] lilannie commented on #6
**Just a thought:** I don't think the different Races should be hidden under an accordion until the list of Races is gigantic.

For now, I think it makes our site look more legitimate if we show all the Races we have gathered data about.

[2018-10-09 06:06] lilannie opened #13 "Create Candidate View"
This is part of user story number 6 listed in: https://github.com/codeforsanjose/OpenDSJ-2018/issues/6

- Brief candidate biography/ summary
- Social Media Links
- Total Contributions:
- Total Expenditures:
- Current balance:

_(Bar charts with largest to lowest amounts)_:
- Overall stats about Contributions: % out of state, % within X (district or city), % within California
- A break down of tota

[2018-10-09 06:10] lilannie opened #14 "Style MainContainer and Navigation"
NOTE: Accidentally left some inconsistent class names in MainContainer. Feel free to make the root div classNames match the component name.

MainContainer and Navigation need some CSS loving.

[2018-10-09 16:31] myracheng commented on #6
I agree that we should have all the Races more prominently displayed, so users can immediately find it and see what other options there are. One concern is that doing so may be too overwhelming, e.g. if voters aren't sure which city council they are supposed to be voting for

[2018-10-11 23:56] ychoy opened #15 "Update readme with scripts"
Annie, great work getting the front end started!

Other than npm install && npm run, are there any other scripts that need to be added to the Readme for new or other contributors to get the project running locally @lilannie ?

[2018-10-12 03:13] lilannie opened #17 "Find data on CA Governor Candidates (Nov 6, 2018 General Election)"
Get campaign finance (and general) information on:
1. Gavin Newsom
2. John H Cox

**Contribution Dates**
Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Things to base your research off of:
https://www.opendisclosure.io

[2018-10-12 03:16] lilannie opened #18 "Find data on CA Lieutenant Governor (Nov 6, 2018 General Election)"
Get campaign finance (and general) information on:
1. Ed Hernandez
2. Eleni Kounalakis

**Contribution Dates**
Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Things to base your research off of:
https://www.opendisclosure.io

V

[2018-10-12 03:17] lilannie opened #19 "Find data on CA Secretary of State (Nov 6, 2018 General Election)"
Get campaign finance (and general) information on:
1. Alex Padilla (Democrat)
2. Mark P. Meuser (Republican)

**Contribution Dates**
Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Things to base your research off of:
https://ww

[2018-10-12 03:17] jheinz1999 commented on #19
I'll take this one

[2018-10-12 03:17] willdiep commented on #17
Assigned to me

[2018-10-12 03:18] lilannie opened #20 "Find data on CA Controller candidates (Nov 6, 2018 General Election)"
Lol I did not know "Controller" was a position in the government.

Get campaign finance (and general) information on:
1. Betty T. Yee
2. Konstantinos Roditis

**Contribution Dates**
Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

[2018-10-14 02:01] lilannie opened #21 "Find data on CA Treasurer (Nov 6, 2018 General Election)"
Get campaign finance (and general) information on:
1. Fiona MA (Democrat)
2. Greg Conlon (Republican)

**Contribution Dates**
Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Things to base your research off of:
https://www.opend

[2018-10-14 02:02] lilannie opened #22 "Find data on Attorney General"
Get campaign finance (and general) information on:
1. Xavier Becerra (Democrat)
2. Steven C Bailey (Republican)

Things to base your research off of:
https://www.opendisclosure.io

Vision:
Ideally, we would like to find a general API we could use to pull campaign finance and general candidate information for any candidate.
However, given the fast approaching November 2018 election, we might have t

[2018-10-14 02:02] lilannie opened #23 "Find data on CA Insurance Commissioner (Nov 6, 2018, General Election)"
Get campaign finance (and general) information on:
1. Ricardo Lara (Democrat)
2. Steven Poizner (Republican)

**Contribution Dates**
 Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Things to base your research off of:
https://w

[2018-10-14 02:04] lilannie opened #24 "Find data on Superintendent of Public Instruction"
Get campaign finance (and general) information on:
1. Tony K. Thurmond (Democrat)
2. Marshall Tuck (Republican)

Things to base your research off of:
https://www.opendisclosure.io

Vision:
Ideally, we would like to find a general API we could use to pull campaign finance and general candidate information for any candidate.
However, given the fast approaching November 2018 election, we might have t

[2018-10-14 02:06] lilannie opened #25 "Find data on Board of Equalization Member - All CA Districts, Nov 6, 2018 General Election"
Get campaign finance (and general) information on the listed CA candidates below:

- Board of Equalization Member District 1
1. Tom Hallinan (Democrat)
2. Ted Gaines (Republican)

- Board of Equalization Member District 2
1. Malia Cohen (Democrat)
2. Mark Burns (Republican)

- Board of Equalization Member District 3
1. Tony Vazquez (Democrat)
2. G. Rick Marshall (Republican)

- Board of Equalizati

[2018-10-14 02:07] lilannie opened #26 "Find data on United States Senators (Nov 6, 2018 General Election)"
Get campaign finance (and general) information on the listed candidates below:

- [x] 1. Kevin De Leon (Democrat)
- [ ] 2. Dianne Feinstein (Democrat)

**Contribution Dates** Don't get data for all elections, just Nov 6, 2018 General Election. We think that means contributions from 2017-2018. Or try to see if the data portal you are looking at, as a filter for "Nov 6, 2018 General Election"

Thing

[2018-10-14 02:07] lilannie commented on #17
Vision:
Ideally, we would like to find a general API we could use to pull campaign finance and general candidate information for any candidate.
However, given the fast approaching November 2018 election, we might have to hard code the data this run around.
If we have to hardcode all the data, we can go back to make the data consumption more automated and scalable.

I got the list of candidates fro

[2018-10-14 02:07] lilannie commented on #17
@willdiep

How's it going thus far?

[2018-10-14 02:09] lilannie commented on #19
@jheinz1999

Hey Jonathan, how's it going thus far?

[2018-10-14 02:26] lilannie commented on #15
No, there are no other commands you should have to run in order to load the app.
I can add more instructions for newcomers to be onboard, such as: install npm, install git, etc.

To load the app, right now, just run:
`npm run build:dev` in one terminal
and `npm run server:dev` in another terminal

Or you can run the yarn equivalents:
`yarn run build:dev`
`yarn run server:dev`

[2018-10-15 05:02] ghost commented on #22
Hi @lilannie, would you please assign this issue to me? I've also added basic candidate info to your [Google Sheet](https://docs.google.com/spreadsheets/d/1ulWeOIdCrRJ237BCQaaiwhodoeWp21fTyvZYYL4pjeg/edit) and created a pull request with the CSVs from [Power Search](http://powersearch.sos.ca.gov/). Please let me know if this is sufficient, and I'll replicate for other issues. Thank you!

[2018-10-15 05:34] ghost commented on #22
Just noticed that the CSV files had extra lines at the very end, e.g.

Search criteria used to create this report:
Contributor(s): All
Contributor State: All
Recipient(s): Candidate: THURMOND, TONY
Contribution Cycles: 2017

So I removed these lines, deleted the original files, and re-uploaded (along with two more files for issue #24). Thank you!

[2018-10-15 17:06] ychoy opened #32 "Find campaign finance data on San Jose City City Council Elections (General Election Nov 6, 2018)"
**Update:**
To download the data, go to SJC election campaign finance data portal: https://www.southtechhosting.com/SanJoseCity/CampaignDocsWebRetrieval/

*Get the following forms for candidates for San Jose City Council D7 and D9 races by Friday Nov 2*

- [x] - Form 460
- [x] - Form 460-A
- [ ] - Form 461
- [ ] - Form 496/497

**Next steps:**
1) Download the XSL/CSV files, add them to the git rep

[2018-10-15 17:07] ychoy opened #33 "Find data on Santa Clara County elections"
**Update:**
To download the data, go to SCC election campaign finance data portal: https://public.netfile.com/pub2/?aid=SCC&AspxAutoDetectCookieSupport=1

*Which elections do we want to track?*
See this [doc about Nov 2018 candidates](https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/official%20candidate%20list.pdf) from **Page 6 (beginning with "Gavilan")** -34 are the SCC elections to

[2018-10-15 17:08] ychoy commented on #32
This is where you can access the SJC election files: https://www.southtechhosting.com/SanJoseCity/CampaignDocsWebRetrieval/

[2018-10-15 17:11] ychoy commented on #33
SCC election campaign finance data portal: https://public.netfile.com/pub2/?aid=SCC&AspxAutoDetectCookieSupport=1

[2018-10-15 19:17] ychoy opened #35 "Set up Travis CI"

[2018-10-15 19:17] ychoy opened #36 "Set up Coveralls"

[2018-10-15 19:17] ychoy opened #37 "Set up linting"

[2018-10-15 19:23] ychoy opened #38 "Add license"

[2018-10-16 02:49] JMStudiosJoe commented on #26
@lilannie @ychoy  are we going to the full state level or sticking local to Santa Clara San Jose?

[2018-10-16 03:02] #38 closed

[2018-10-16 03:02] #37 closed

[2018-10-16 03:25] ychoy commented on #26
I'm curious about the CA data and I'm not sure there's a website out there that analyzes CA campaign finance data. I think it's fine that we're doing statewide elections too, however, I do think San Jose and SCC races /measures, etc should be a priority.

[2018-10-16 03:39] willdiep commented on #17
**Have all the resources we need via Vote Smart:**
https://votesmart.org/candidate/campaign-finance/70386/gavin-newsom
https://votesmart.org/candidate/campaign-finance/179444/john-cox

**I just registered for the API key and am waiting for their approval:**

<img width="967" alt="screen shot 2018-10-15 at 8 37 08 pm" src="https://user-images.githubusercontent.com/17146436/46991319-4f6f7880-d0ba-11

[2018-10-16 04:12] lilannie commented on #17
Awesome! Great work (:
If the API looks good will you post an example HTTP request and HTTP response?

[2018-10-16 04:14] lilannie commented on #36
Hmm I'm down for testing, but I don't think our code base will be too big.
I think adding tests before the November 2018 milestone will slow us down.

[2018-10-16 04:15] lilannie commented on #35
How do we plan on hosting the website?

[2018-10-16 04:16] ychoy commented on #35
You mean for deployment? If it's heroku, it would be free? Not sure if we have AWS credits @3vivekb ?

Also, website hosting - that could be a separate issue? Travis CI works on development projects too.

[2018-10-16 04:19] willdiep commented on #17
Yeah, I'll post the examples after I take a look at the API.

Joey just sent over his API key, actually:

{
   “localVoteAPIKey”: “AIzaSyCWhwRupMs7IeE4IrGEgHtT0Nt-IGZnP9E”
}

He said to create a new directory called "config" with a file called "secrets.json" in which includes the above API key. I'll create a new branch and will issue a pull request

[2018-10-16 04:22] lilannie commented on #35
We love free! I've never used Heroku. I'll leave those logistics up to you.

Can you give me a use case of Travis CI? I've never used it and am confused about how it fits into our project.

[2018-10-16 04:27] lilannie commented on #26
@JMStudiosJoe
I figured gathering data on state level officials would be easier and faster for a proof of concept.
The state level officials are included in the November 2018 election.
I totally agree that San Jose and SCC races are important as well because they receive less coverage.

@ychoy Thanks for the detailed issues you opened! 😄

[2018-10-16 04:30] ychoy commented on #35
Travis CI is for continuous integration. It automates the build. Every time you have new branch or PR, it will trigger the build. For example, you might have the following scripts: npm install, npm run lint, npm run test (if we have tests). If nothing crashes, then it will say that the build is passing. Why use Travis CI? So you can discover quickly if your commit broke something and fix it before

[2018-10-16 04:32] ychoy commented on #36
We don't have to add tests immediately.

[2018-10-16 04:56] lilannie opened #43 "Do we want to use a database? If so, we need to design the structure"
I do not want to write a bunch of React components before we define our data/model structures.
The data/model structures will probably change throughout the course of development.

However, I'd like to begin designing the framework.

### **First Question:**
Do we want to use a database?

- If not? How do we want to consume the data?
We have many different options. For example, we could:

1. Consum

[2018-10-17 03:33] abidishajia commented on #21
I'd like to take this issue.

[2018-10-17 04:25] lilannie commented on #22
@agnesoshiro Yes, I can assign you the issue after you accept the collaborator invitation. (:

Awesome job! Looks like really quality data. (:

Please take a look at this issue when you get a chance: https://github.com/codeforsanjose/OpenDSJ-2018/issues/43
I would love your input.

[2018-10-17 04:28] lilannie commented on #21
@abidishajia I sent you a Github Collaborator invitation so I can officially assign you the issue.

@agnesoshiro did a really great job at finding data for this issue: https://github.com/codeforsanjose/OpenDSJ-2018/issues/22

Shajia, feel free to copy her methods. (:

[2018-10-17 04:30] lilannie commented on #17
@willdiep I sent you a Github Collaborator invitation. Once you accept, I can officially assign issues to you. (:

[2018-10-17 04:31] lilannie commented on #43
@abidishajia @willdiep I would love your guys input on this issue. (:

[2018-10-17 05:03] lilannie commented on #33
I think it would be helpful for the new people, if we provide a list of candidates and measures they are suppose to target.

[2018-10-17 05:03] lilannie commented on #32
`I think it would be helpful for the new people, if we provide a list of candidates and measures they are suppose to target.`
Same thing.

[2018-10-17 05:27] lilannie commented on #32
These are the only candidates I could find that are up for election this November in SJC:
http://sanjoseca.gov/DocumentCenter/View/79243

Are there more?

[2018-10-17 05:31] lilannie commented on #33
I believe this is the list of Candidates for the Santa Clara County General Election:
https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/official%20candidate%20list.pdf

Here is a list of local measures:
https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/List%20of%20Local%20Measures.pdf

[2018-10-17 07:30] lilannie commented on #33
[code]

From what I found, the campaign finance from this data portal is recorded in PDF files. This is very problematic since I don't think any of us wants to parse the data manually.

[2018-10-17 17:57] ychoy commented on #33
@lilannie  when I go to this [website](https://public.netfile.com/pub2/(X(1)S(ferlekywklyjjki4bqdwr3gj))/default.aspx?aid=SCC&AspxAutoDetectCookieSupport=1), near the top, you can download the excel (all files) for 2018, 2017, and so forth. It's awesome that they aggregate the data into one export file:

Export E-Filed FPPC Form 460 - 496 - 497 - 461 - 465 transactions by year to Excel.
Select (by

[2018-10-17 18:15] ychoy commented on #32
@lilannie That looks correct. The primary election had more races, but according to SJC website: Candidates who received more than 50% of the vote in the June Primary are elected and will assume office on January 1, 2019.

That's why for General Election there are only 2 San Jose City Council races remaining: D7 and D9.

This list has all the SCC candidates, including candidates that San Jose vote

[2018-10-17 18:23] ychoy commented on #33
@lilannie I think the San Jose specific measures (listed in the link you mentioned above) is collected the SJC campaign data portal. I'm going to make it a separate issue.

[2018-10-17 18:34] ychoy opened #44 "Find data on San Jose General Election Nov 6, 2018 - committees"
Reference [doc about Nov 2018 measures](https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/List%20of%20Local%20Measures.pdf)

Get data from
[https://www.southtechhosting.com/SanJoseCity/CampaignDocsWebRetrieval/Search/SearchByBallotItem.aspx](link)
*Get data for the Ballot Items Measure S, T, U, V,;General Purpose, Major Donor, City Council District 7:*
Form 460
Form 460-A
Form 461
Form 4

[2018-10-17 18:49] ychoy commented on #43
Thanks for putting this together @lilannie.

1) Do we need a Database?
I think it would be better to build an API Server layer between the JSON/CSV files. Since one of the cons of extracting data from JSON is it is error prone and hard to maintain, I think we should take our energy and build something sustainable, even if it takes longer to do. If we put the thought into it, then we can scale and

[2018-10-17 23:11] willdiep commented on #17
Thanks! Got it! I'll push my branch over.

[2018-10-17 23:19] willdiep commented on #43
I also would like to thank you for putting this together, @lilannie.

1. I agree with @ychoy, it would be a better idea to build an API Server layer. It would be more sustainable, scalable, and overall better in the long term. I specifically haven't build something like this before, but can definitely figure it out collaboratively. Further, I'm more knowledgeable over MongoDB than PostgreSQL. Over

[2018-10-17 23:21] willdiep commented on #18
I'll research on this

[2018-10-17 23:23] willdiep commented on #19
Hey @jheinz1999, I'd like to follow up on this. I'll do some research on this as well.

[2018-10-18 16:54] #35 closed

[2018-10-18 18:49] ychoy opened #47 "Fix issue with Travis build"
Travis CI build is not  getting triggered

[2018-10-19 05:51] lilannie commented on #14
This is pending. We may not need to complete this issue if we decide to use Oakland's Open Disclosure website.

[2018-10-19 05:51] lilannie commented on #13
This is pending. We may not need to complete this issue if we decide to use Oakland's Open Disclosure website.

[2018-10-19 05:51] lilannie commented on #12
This is pending. We may not need to complete this issue if we decide to use Oakland's Open Disclosure website.

[2018-10-19 05:51] lilannie commented on #11
This is pending. We may not need to complete this issue if we decide to use Oakland's Open Disclosure website.

[2018-10-19 05:51] lilannie commented on #10
This is pending. We may not need to complete this issue if we decide to use Oakland's Open Disclosure website.

[2018-10-19 05:52] lilannie commented on #6
This issue is pending. We may not need to implement our own frontend if we decide to use Code for Oakland's Open Disclosure website.

[2018-10-22 17:34] #47 closed

[2018-10-22 20:19] #23 closed

[2018-10-22 20:21] ychoy commented on #26
We now have data on Kevin De Leon contributions - #49

We still need data on Dianne Feinstein contributions (2017-2018)

[2018-10-25 18:06] #21 closed

[2018-10-25 18:10] ychoy opened #50 "Find data on Board of Education (Santa Clara County) for Nov 6, 2018"
**Where to get data**
To download the data, go to SCC election campaign finance data portal: https://public.netfile.com/pub2/?aid=SCC&AspxAutoDetectCookieSupport=1

*Which elections do we want to track?*
Get 2017-2018 campaign finance data for the General Election candidates:

- Board of Education TA 2 BARRY CHANG  & KATHLEEN M. KING
- Board of Education TA 6, PETER ORTIZ &  KIARA KASSANDRA
- Boar

[2018-10-25 22:19] ychoy opened #51 "Find data on CA Justices"
**Where to get data**
To download the data, go to SCC election campaign finance data portal: https://public.netfile.com/pub2/?aid=SCC&AspxAutoDetectCookieSupport=1

*Which elections do we want to track?*
Get 2017-2018 campaign finance data for the General Election candidates:

Associate Justice, Supreme Court
- LEONDRA R. KRUGER

Associate Justice, Supreme Court
- CAROL A. CORRIGAN

Presiding Just

[2018-10-25 22:23] ychoy opened #52 "Find data on CA State Senate and Assembly General Election Nov 6, 2018"
**Where to get data**
http://powersearch.sos.ca.gov/

*Which elections do we want to track?*
Get 2017-2018 campaign finance data for the General Election candidates:

 10th State Senate
- VICTOR G. SAN VICENTE
- BOB WIECKOWSKI

24th Assembly
- Marc Berman
- Alex Glew

25th Assembly
- Kansen Chu
- Bob Brunton

27th Assembly
- Ash Kalra
- G. Burt Lancaster

28th Assembly
- MICHAEL L. SNYDER
- EVAN L

[2018-10-25 22:26] ychoy opened #53 "Find data on CA Congressional Offices for General Election Nov 6, 2018"
*Which elections do we want to track?*
Get 2017-2018 campaign finance data for the General Election candidates:

  17th Congressional
- RO KHANNA
- RON COHEN

18th Congressional
- Christine Russell
- Anna G. Eshoo

19th Congressional
- ZOE LOFGREN
- JUSTIN JAMES AGUILERA

20th Congressional
- RONALD PAUL KABAT
- JIMMY PANETTA

Reference: https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/

[2018-10-26 03:25] phi-line commented on #44
Taking this

[2018-10-26 03:26] hanstxu commented on #51
I'll try to do this one.

[2018-10-26 03:27] aeevrubin commented on #44
So here's some things that I feel I should put out there:
A) There are no files uploaded for Measure S
B) For Measure T, only groups who support the measure have uploaded files
C) There are no files uploaded for Measure U
D) For Measure V, only groups who support the measure have uploaded files

[2018-10-26 03:33] hanstxu commented on #51
I couldn't find campaign finance info on the judges. Is it possible that they are not democratically elected? I don't remember.

[2018-10-26 03:34] hanstxu commented on #52
I'll try to help for this issue.

[2018-10-26 03:45] njavs commented on #33
I'm taking on Page 8 (starting with candidate KELLY YIP-CHUAN and ending with candidate WENDY SULLIVAN).

[2018-10-26 06:04] lenatran commented on #20
I can look into this

[2018-10-30 16:59] ychoy commented on #33
FYI, if you use the Advanced Search, you may end up getting incomplete data? According to the website:

The Advanced Search for Transaction Data searches all transactions electronically filed on Fair Political Practices Commission (FPPC) forms 401, 450, 460, 461, 465, 496, 497 and 498.

Certain transactions from "late filed" or "supplemental filed" forms 465, 496, 497 and 498 will be displayed in

[2018-10-30 20:29] ychoy commented on #33
I found the data for page 6 (detailed in issue #50) for SCC Board of Education Areas 2,6,7, see #54  PR for reference.  Basically before Gavillan.

_Here is my process - if it helps:_
My process is to download the zip folder on the first first (Export Amended), find the candidate (if they exist as a filier, some do not have anything filed) for the A-contributions tab and E-expenditures tab, and th

[2018-10-30 22:10] ychoy opened #55 "Add ballot information about San José & Santa Clara County local candidates and measures for Nov 6, 2018 General Election"
OpenDisclosure.io needs ballot information about SJC and SCC local candidate and measures

[Link to add our information](https://docs.google.com/spreadsheets/d/18kFlRyXy7sIYT761V2VD9PEHQXZQatPB7uN-uBy0y7A/edit?usp=sharing)

Some of the information -- lengthier texts:
- https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/List%20of%20Local%20Measures.pdf

Other  types of data, like filer IDs

[2018-10-30 22:55] ychoy commented on #33
**Update:** Aaron from Opendisclosure.io team said that for the SCC data, since they are using Netfile, the same system Oakland uses, we won't have to get the data on SCC office elections/measures for them. Aaron can use an existing script to get the files on SCC measures.

However, since City of SJ uses a different system, we do need to retrieve data from southtesthosting's website. Also, we don'

[2018-10-30 22:57] ychoy commented on #32
Currently we have Form 460 (data only gets updated 2-3x a year). Also need to get:

Form 461 (filed by Independent Expenditure Committees) for any committees fundraising for city council candidates
Form 496/497: Within 90 days of the election, contributions and expenditures over $1000 must be reported within 24 hours on form 496/497.
Form 496/497 is tricky because items will be re-reported on the

[2018-10-30 22:59] ychoy commented on #44
After talking with Open Oakland - learned that we don't just care about Form 460 (since that data only gets updated 2-3x a year), we also need to pay attention to:

Form 461 (filed by Independent Expenditure Committees.  These committees can fundraise for measures and/or candidates)
Form 496/497: Within 90 days of the election, contributions and expenditures over $1000 must be reported within 24 h

[2018-10-30 23:02] ychoy commented on #55
Hi @lilannie @abidishajia @agnesoshiro @aeevrubin do you have time to help with this? I mentioned this in another comment on #33, OpenDisclosure.io has a way of getting the finance data for SCC elections offices and measures through Netfile API. But they do need our help to gather ballot information on measures, candidates, and committees.  I added some resources in the description above.

Can you

[2018-10-31 00:22] aeevrubin commented on #55
ok I'll look at it tonite.
-Ada

On Tue, Oct 30, 2018 at 4:04 PM Yan-Yin Choy <notifications@github.com>
wrote:

[2018-10-31 04:13] njavs commented on #33
@ychoy To clarify, issue #33 no longer needs to be worked on?

[2018-10-31 20:13] aeevrubin commented on #55
So I just want to put this out here...
On the SJ election info page (http://www.sanjoseca.gov/index.aspx?NID=5694),
I cannot find anything - I mean not even a list of names - of the people I see on my ballot for local offices like,for example County Sheriff, Oak Grove School Board member, and Superintendent of Schools.

That puts a bit of a damper in my attempt to fill out the 'candidates' page of

[2018-10-31 21:15] ychoy commented on #55
Hi @aeevrubin check out this doc: https://www.sccgov.org/sites/rov/Info/Nov2018info/Documents/official%20candidate%20list.pdf
It provides a list of candidates for each office.

For other information, like filer names and IDs, look at the zip download from SCC netfile website (selecting 2018, and zip downloading Amended Version)[https://public.netfile.com/pub2/(X(1)S(ferlekywklyjjki4bqdwr3gj))/Defa

[2018-10-31 21:21] ychoy commented on #33
@njavs, yes, that's correct.

The only data opendisclosure.io needs from us is #44 and #32. And ballot info #55, by this Friday Nov 2nd end of day.

By the way, Aaron from OpenDisclosure.io team said that they will try their best to integrate San José data into OpenDisclosure.io, but there's no guarantee they will get this done before the General Election (Nov 6,2018).

[2018-10-31 21:26] ychoy commented on #44
@phi-line, how is your progress?

Please get the following files for Measures S, T, U, V by this Friday Nov 2:

- Form 460
- Form 460-A
- Form 461
- Form 496/497

[2018-11-02 02:11] ychoy commented on #32
I'm working on updating these files

[2018-11-02 03:20] ychoy commented on #44
Grace Lee @grle  and I are working on this issue.

[2018-11-02 03:21] ychoy commented on #32
I could not find any form 461, 497 for these candidates

[2018-11-02 03:41] lenatran commented on #44
I got a file started for Measure T already, I can stop and work on issue 55 instead if you're going to work on it, lmk!

[2018-11-02 04:00] lenatran commented on #44
@ychoy

[2018-11-02 04:40] ychoy commented on #44
@lenatran Thank you for working on this. Sorry, I didn't see the message until now. I have the files for Measure STUV and one for General Purpose.  After a bit of research, we realized that we had to broaden the search (I'll explain more below). Some committees exist For/Against candidates and General Purpose (so they fundraise for more than one issue).

I do need help with the following - do you

[2018-11-02 04:46] #32 closed

[2018-11-02 07:43] aeevrubin commented on #55
this link doesn't work (last one in previous message): https://public.netfile.com/pub2/(X(1)S(ferlekywklyjjki4bqdwr3gj))/Default.aspx?focus=SearchName

[2018-11-02 08:50] ychoy commented on #55
Go here then: https://public.netfile.com/pub2/?aid=SCC

[2018-11-02 08:52] ychoy commented on #55
I added all* of the remaining candidates names, the elections, and incumbent status to the spreadsheet.
* of the candidates we're trying to track, from the PDF

**I need your help to fill in the yellow highlight blanks on the candidate tab** By the way, the PDF listed above only gives some info, I'd recommend looking up the candidates' votersedge.org profile. If the info doesn't exist there, try t

[2018-11-02 16:55] #50 closed

[2018-11-02 17:21] ychoy commented on #44
Hi @lenatran I addressed parts 2 and 3 above in PR #58, so the only data remaining we need is the remaining committees under General Purpose (part 1 in my previous message). Can you please let me know if you have time to address this today? Thanks!

[2018-11-02 19:25] abidishajia commented on #55
I was able to find some of the candidates' website and FPPC number and updated the doc accordingly.

[2018-11-02 20:00] lenatran commented on #44
Hi @ychoy, I have a couple of hours available to work on this from now until 6pm, i will let you know my progress until then

[2018-11-03 00:07] lenatran commented on #44
@ychoy I slacked you the files i compiled. i wasn't able to get it for all of the filers which i noted in the slack message

[2018-11-03 00:54] ychoy commented on #44
Great thank you @lenatran

[2018-11-03 00:56] #44 closed

[2018-11-30 03:11] aeevrubin opened #59 "Scrape .outhtechhosting SJ campaign finance page"

[2018-11-30 03:13] aeevrubin commented on #59
Concoct some method of extracting excel files and pdfs.

[2018-11-30 03:14] #59 closed

[2018-11-30 03:19] aeevrubin opened #60 "Scrape South Tech Hosting SJ campaign finance page"
Concoct some method of extracting excel files and pdfs.

Is it even within the realm of possibility?

Ideas welcome.

Link to SJ campaign finance site: https://www.southtechhosting.com/SanJoseCity/CampaignDocsWebRetrieval/Search/SearchByElection.aspx

[2018-11-30 04:33] GlennSG commented on #60
Hello! I'll give this a shot with beautifulsoup python

[2018-11-30 04:39] acufarah commented on #60
Hi, I am looking at extracting data from form 460 using a tool called Tabula which pulls info out of tables in PDFs to put them in spreadsheets.

[2018-11-30 04:39] acufarah commented on #60
[](http://okfnlabs.org/blog/2016/04/19/pdf-tools-extract-text-and-data-from-pdfs.html[](url))

Had info on scraping pdfs

[2018-11-30 04:40] acufarah commented on #60
[](http://okfnlabs.org/blog/2016/04/19/pdf-tools-extract-text-and-data-from-pdfs.html)

[2019-01-16 17:32] #1 closed

[2019-01-16 17:32] #2 closed

[2019-01-16 17:32] #4 closed

[2019-01-17 04:48] ychoy opened #61 "User research"
Design, conduct user research to draft user persona and understand user needs for Open Disclosure San José @tomomiyuasa

[2019-04-12 02:15] #17 closed

[2019-04-12 02:15] #18 closed

[2019-04-12 02:16] #19 closed

[2019-04-12 02:16] #20 closed

[2019-04-12 02:16] #25 closed

[2019-04-12 02:21] #53 closed

[2019-04-12 02:21] #52 closed

[2019-04-12 02:21] #51 closed

[2019-04-12 02:22] #33 closed

[2019-04-12 02:22] #22 closed

[2019-04-12 02:22] #26 closed

[2019-04-12 02:22] #24 closed

[2019-04-12 06:45] mdudhani commented on #6
This is one of the visualization library I found which works with React
Demo:
https://nivo.rocks/pie
Github:
https://github.com/plouc/nivo